#count {
  font-weight: bold;
  position: absolute;
  right: 10px;
}
#logo {
  width: 200px;
  height: 200px;
  background: url('./assets/holberton-logo.jpg') no-repeat center center;
  background-size: contain;
}

